section img
{
  width:100%;
  height:100%;
  display:grid;
  margin:auto;
}
h1
{
    position: absolute;
    font-size: 3rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
    top: 60%;
    display:inline;
}
