section img
{
  width:100%;
  height:300px;
}
h1
{
  text-align:center;
  margin-top:-100px;
}
@media only screen and (max-width: 600px) {
  section img
{
  width:100%;
  height:80%;
}
h1
{
  text-align:center;
  margin-bottom:10%;
}
}
